<%- include("header", {}) %>
<div class="profile_image">
    <img src="<%= imageSrc %>" alt="Profile Image" />
</div>
<div class="foto">
  <form action="/perfil/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" />
    <button type="submit">Upload Image</button>
  </form>
</div>
<div class="profile_data">
  <label for="">Nickname: </label><label id="user_nick"> <%= user %></label
  ><br />
  <label for="">Email: </label><label id="user_mail"> <%= correo %></label
  ><br />
</div>
<script src="javascripts/perfil.js" defer></script>
<%- include("footer", {}) %>
